@import './navBarStyles.css';
@import './homeStyles.css';
@import './skillsStyles.css';
@import './aboutStyles.css';
@import './contactStyles.css';


/* paleta de colores */
:root{
  --bg: #1d1d1d;
  --bg2:#181818;
  --black: #000000;
  --gray:#8c9096;
  --green:#05fdd8;
  --border:#282828;
  --red:#fd2155;
}

body {
  display: flex;
  margin: 0;
  padding-left: 13rem;
  font-family: 'Open Sans', sans-serif;
  background: var(--bg);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}


@media (max-width:750px) {
  body{
    display: flex;
    justify-content: center;    
    padding: 0;
    margin: 0;    
  }

  .navBar{
    display: none;
  }
   .homeContainer{
     padding: 0;
     text-align: center;
     height: 100vh;
   }

   .homeTitle{
     font-size: 3.5rem;
     line-height: 3rem;
   }
}



@media (min-width:700px) {
  .scrollPage{
    display: none;
  }    
}