@import './navBarStyles.css';
@import './homeStyles.css';
@import './skillsStyles.css';
@import './aboutStyles.css';
@import './contactStyles.css';


/* paleta de colores */
:root{
  --bg: #1d1d1d;
  --bg2:#181818;
  --black: #000000;
  --gray:#8c9096;
  --green:#05fdd8;
  --border:#282828;
  --red:#fd2155;
}

body {
  display: flex;
  margin: 0;
  padding-left: 13rem;
  font-family: 'Open Sans', sans-serif;
  background: var(--bg);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}


@media (max-width:750px) {
  body{
    display: flex;
    justify-content: center;    
    padding: 2rem;
    margin: 0;
    box-sizing: border-box;    
  }

  .navBar{
    display: none;
  }
   .homeContainer{
     top: 15px;
     padding: 0;
     text-align: center;
   }

   .homeTitle{
     font-size: 3.5rem;
     line-height: 4rem;
     top: 5rem;
     margin: 0;
   }

   .subtitleHome{
     top: 30px;

   }

   .homeButton{
     top: 0;
   }

   /* skills */
   .skills-page{
     flex-direction: column;
     width: 100%;
     height: 100vh;
     top: 0;
   }

   .text-zone{
     width: 100%;
     text-align: center;
   }

   .skills-details{
     width: 100%;
   }

   .certifications{
     display: grid;
     grid-template-columns: 1fr 1fr;
     text-align: center;
   }
}



@media (min-width:751px) {
  .scrollPage{
    display: none;
  }   
}